* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;

}

@media (max-width: 1366px){
    
    section#telefone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 536px;
        width: 266px;
        background: url(../imagens/frame-iphone2.png) no-repeat;
    }
    
    iframe#tela {
        position: relative;
        top: 69px;
        left: 19px;
        width: 230px;
        height: 405px;
    
    }
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    }

