* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;

}


section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402);
    display: flex;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.514);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .1s, border 0.5s;
}

@media (max-width: 1366px){
    
    section#telefone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 536px;
        width: 266px;
        background: url(../imagens/frame-iphone2.png) no-repeat;
    }
    
    iframe#tela {
        position: relative;
        top: 69px;
        left: 19px;
        width: 230px;
        height: 405px;
    
    }
}

@media (max-width: 737px) {
    section#redes-sociais img {
        width: 45px;
        margin: 8px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402);
        box-sizing: border-box;
    }

    section#redes-sociais {
         
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin: 0 auto; 
        }
    
    section#telefone {
        margin-top: -40px;
    }         
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    }

